
\.idea/

cmake-build-debug/

﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComplexStringsProcessing/v14
/ComplexStringsGenerating/Debug
/Debug
/Processing/Debug
/ComplexStringsProcessing.VC.VC.opendb
/ComplexStringsProcessing.VC.db
